
body{
        margin: 0;  
        font-family: 'Ubuntu', Google Sans, Helvetica Neue, sans-serif ;
        /* font-family: 'Redressed', cursive; */
        /* font-family: 'Lobster', cursive; */
        text-align: center;
        background-color: #f1f6f9;
        color: #073f53;
    }

h1 {
    margin: 0;
    color: #7c0b5c;
    }
h2{
    color: #14274e;
}

#p1{
    font-style: italic ;
    }

#hdback
{
    width: 100%;
}

.RoundImg
{
   width: 30%; 
}

#hr1{
    background-color: white;
    border-style: dotted none none;
    border-color:  #14274e;
    border-width: 5px;
    width: 25%;
}
.top-container {
    width: 100%;
    margin: 0;
}

.bottom-container {
    /* padding: 1px; */
    background-color:;
    margin: 0;
}

.btn
{
    margin-right: 1%;    
}
